<li>

    {{id}}.{{burger_name}}
     
    <button class="change-devour" data-id="{{id}}" data-newdevour="{{eaten}}"> 
        {{#if eaten}}Yum!{{else}}Time to Eat!{{/if}} 
    </button>
    <button class="delete-burger" data-id="{{this.id}}">Delete burger</button>

</li>