<li>

    {{id}}.{{burger_name}}
     {{#if devoured}}
    <button class="delete-burger" data-id="{{this.id}}">Delete burger</button>
    {{else}}
    <button class="change-devour" data-id="{{id}}" devour="{{devoured}}">Time To Eat! </button>
    {{/if}} 
</li>