<li>
<div class="eatenBurger">
    {{id}}.{{burger_name}}
    <button class="change-devour" data-id="{{id}}" data-devour="{{eaten}}"> 
        {{/if eaten}}Yum!{{else}}TIME TO EAY!{{/if}} 
    </button>
    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</div>
</li>